---
import type {GetStaticPaths} from "astro";
import type {PokemonListResponse} from "@/interfaces/pokemon-list-response.interface.ts";
import MainLayout from "@/layouts/MainLayout.astro";
import PokemoCard from "@/components/PokemoCard.astro";
import {ParamsResultPokemonMapper} from "@/mappers/ParamsResultPokemon.mapper.ts";
import Title from "@/layouts/components/Title.astro";
import {Icon} from 'astro-icon/components'
export const getStaticPaths = async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = await resp.json() as PokemonListResponse;
    return ParamsResultPokemonMapper.ResultsPokemonToParams(results)
}
const {name} = Astro.params
const {url} = Astro.props;
const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---
<MainLayout title="Algun pokemon">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center w-full">
        <div class="flex flex-row">
            <div>
                <!--<a href="/">Regresar</a>-->
                <button onclick="history.back()" class="text-blue-500">Regresar</button>
                <Title>{name}</Title>
            </div>
            <button id="btnFavorite" class="hover:animate-pulse" data-name={name} data-id={id}>
                <Icon data-outline name="heart-empty" class="hidden" size={50} />
                <Icon data-fill name="heart-full" class="hidden" size={50} />
            </button>
        </div>
        <PokemoCard
                name={name}
                url={url}
                isBig
        />
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg"/>
        </audio>
    </section>
</MainLayout>
<script>
    import {getElementHtml} from "@/utils/getElementHtml.util.ts";
    import {FAVORITE_POKEMONS} from "@/constants/Keys/favoritePokemons.key.ts";

    interface FavoritePokemon {
        name: string;
        id: number
    }
    let favoritePokemon: FavoritePokemon[] = [];
    const btnFavorite =  getElementHtml<HTMLButtonElement>('#btnFavorite');
    const {name= '',id = ''} = btnFavorite.dataset
    const heartFill = getElementHtml<HTMLElement>('[data-fill]',btnFavorite)
    const heartEmpty =  getElementHtml<HTMLElement>('[data-outline]',btnFavorite)

    const CheckFavoritePokemons = () => {
        favoritePokemon = JSON.parse(localStorage.getItem(FAVORITE_POKEMONS) ?? '[]')
        !favoritePokemon.some(fav => fav.name === name) ? heartEmpty.classList.toggle('hidden') : heartFill.classList.toggle('hidden')
    }

    const toogleFavorites = () => {
        const isFavorite = favoritePokemon.some(fav => fav.name === name);
        if (isFavorite) {
            favoritePokemon = favoritePokemon.filter(fav => fav.name !== name);
        }else {
            favoritePokemon.push({
                name,
                id: Number(id)
            })
        }
        localStorage.setItem(FAVORITE_POKEMONS,JSON.stringify(favoritePokemon))
    }

    const OnPageLoad = () => {
        CheckFavoritePokemons()
        if (!btnFavorite) return ;
        btnFavorite.addEventListener('click',() => {
            heartEmpty.classList.toggle('hidden')
            heartFill.classList.toggle('hidden')
            toogleFavorites()
        })
    }
    document.addEventListener('astro:page-load',OnPageLoad)
</script>