---
import type {PokemonListResponse} from "@/interfaces/pokemon-list-response.interface.ts";
import MainLayout from "@/layouts/MainLayout.astro";
import PokemoCard from "@/components/PokemoCard.astro";
import {ParamsResultPokemonMapper} from "@/mappers/ParamsResultPokemon.mapper.ts";
export const getStaticPaths = async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = await resp.json() as PokemonListResponse;
    return ParamsResultPokemonMapper.ResultsPokemonToParams(results)
}
const {name,id} = Astro.params
const {url} = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---
<MainLayout title="Algun pokemon">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center w-full">
        <div>
            <a href="/">Regresar</a>
        </div>
        <PokemoCard
                name={name}
                url={url}
                isBig
        />
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg"/>
        </audio>
    </section>
</MainLayout>
